
.section-header {
    font-weight: 80;
    font-size: 22px;
}

.section {
    padding: 0 2rem;
}

hr {
    border: 1px solid black;
}

input {
    border: none;
}

input:focus {
    outline: none;
}

.add-section-button {
    width: 80px;
    border-radius: 10%;
    border: 1px solid black;
    background-color: transparent;
    margin-left: 4px;
}