

.header-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem;
}

.header-container input {
    text-align: center;
    border: none;
}

.header-container input:focus {
    outline: none;
}

.name {
    font-size: 32px;
}

.title {
    font-size: 18px;
}