

.header-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem;
}

.name, .title, .location {
    text-align: center;
}

.name {
    font-size: 32px;
}

.title {
    font-size: 18px;
}

.contact-container {
    position: relative;
    display: flex;
    width: 100%;
    justify-content: center;
    gap: 10px;
}

.location {
    text-align: right;
}

.phone {
    text-align: center;
    width: 12ch;
}

.email {
    font-size: 12px;
    width: 28ch;
}

