
.info-container {
    padding: 4px;
}

.top-line {
    display: flex;
}

.date-container {
    display: flex;
    justify-content: center;
}

.info-name {
    font-size: 1rem;
    font-weight: bold;
    width: 20ch;
}

.info-location {
    width: 20ch;
}

.date-container input {
    width: 10ch;
    text-align: center;
}

.subtitle {
    display: block;
    margin: 0 1rem;
}

.bullets {
    margin: 0 4rem;
}
