
.info-container {
    padding: 4px;
}

.top-line {
    display: flex;
    gap: 10px;
}

.date-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.info-name {
    font-size: 1rem;
    font-weight: bold;
}

.date-container input {
    text-align: center;
}

.subtitle {
    display: block;
    margin: 0 1rem;
}

.bullets {
    margin: 0 4rem;
}

div.location, .date-container div, div.subtitle, li.bullet {
    font-size: 12px;
    margin-right: 4px;
}
