

.inner {
    display: flex;
    padding: 1rem 1rem;
    justify-content: center;
    gap: 10px;
}

.skill {
    text-align: center;
}

div.skill, div.hypen {
    font-size: 12px;
}

.add-skill-button {
    border: 1px solid gray;
    background-color: transparent;
    border-radius: 100%;
    width: 25px;
}

.add-skill-button:hover {
    background-color: rgb(208, 208, 208);
    border: 1px solid black;
}

